@page "/general"
@*@page "/"*@

@inject IStringLocalizer<App> Localizer

@inherits GeneralBase
@using AnalysisDashboard.Components 

<table class="header_table _second">
   <thead>
	   <tr>
		   <td align="center" style="width: 34%;">
            <table>
              <thead>
                <tr> 
                  <td>
                    <img src="images/logo.png" height="40">
                  </td> 
                  <td>
                    <p class="text4">Analysis Dashboard</p>
                  </td> 
                </tr>
              </thead>
            </table>
          </td> 
	   </tr>
   </thead>
</table>
<LanguageView/>
 <div class="big_container">   
	<div class="tableOverlay" style="display: @(ShowTable ? "block" : "none")">
		<div style="width: 750px" align="center" class="popup">
			<h3>@Localizer["BreakdownChart"]</h3>
			<table style="font-size: 14px;" id="myTable" class="fixed_header" align="center">
				<thead>
					<tr class="header">
						<td class="td1">@Localizer["PaymentDate"]</td>
						<td class="td2">@Localizer["Sum"]</td>
						<td class="td3">@Localizer["PurposeOfPayment"]</td>
					</tr>
				</thead>
				<tbody>
					@foreach(var item in BarChartItemInfoList)
					{
						<tr>
							<td class="td1">@item.Date</td>
							<td class="td2">@item.Sum @Localizer["Currency"]</td>
							<td class="td3">@item.PurposeOfPayment</td>
						</tr>  
					}
				</tbody>
			</table>
			<a class="pop-close" href="" @onclick="CloseTableInfo" @onclick:preventDefault>&times;</a>
	</div>
</div> 
	<div class="content"> 
		<table style="width: 100%;">
			<thead>
				<tr>
					<td class="gen_td" style="width: 40%; min-width: 500px; height: 400px; padding: 10px;"> 
						<table style="width: 100%;" class="tab_pie">
							<thead>
								<tr>
									<td align="center" style="font-size: 16px; font-weight: bold; color: #343A40;">
										@Localizer["Consumption"]
									</td>
								</tr>
								<tr>
									<td>
										<div id="chartContainer1" style="height: 400px; width: 100%; display: inline-block;"></div>
										<button align="right" class="btn invisible1" id="backButton1"><i class="fa fa-chevron-circle-left"></i></button>
									</td>
								</tr>
							</thead>
						</table> 
					</td>
					<td class="int_vertical"></td>
					<td class="gen_td" style="width: 40%; min-width: 500px; height: 450px; padding: 10px;"> 
						<table style="width: 100%;" class="tab_pie">
							<thead>
								<tr>
									<td align="center" style="font-size: 16px; font-weight: bold; color: #343A40;">
										@Localizer["Profit"]
									</td>
								</tr>
								<tr>
									<td>
										<div id="chartContainer2" style="height: 400px; width: 100%; display: inline-block;"></div>
										<button class="btn invisible2" id="backButton2"><i class="fa fa-chevron-circle-left"></i></button>
									</td>
								</tr>
							</thead>
						</table> 
					</td>
					<td class="int_vertical"></td>
					<td class="gen_td" style="width: 20%; min-width: 200px; vertical-align: top;">
						<table class="tab_third">
							<thead>
								<tr>
									<td align="center" style="font-size: 16px; font-weight: bold; padding: 5px 0 15px 0; color: #343A40;">
										@Localizer["Balance"]
									</td>
								</tr>
								<tr>
									<td align="center" class="tab_third_1 apricot1"> 
										@Localizer["BalanceAtTheBeginningOfThePeriod"]
									</td>
								</tr>
								<tr>
									<td align="center" class="tab_third_2 apricot2">
										@BalanceAtTheBeginningOfThePeriod
									</td>
								</tr>
								<tr class="int_horizontal"><td></td></tr>
								<tr>
									<td align="center" class="tab_third_1 dirty1">
										@Localizer["ExpenseForThePeriod"]
									</td>
								</tr>
								<tr>
									<td align="center" class="tab_third_2 dirty2">
										@FxpenseForThePeriod
									</td>
								</tr>
								<tr class="int_horizontal"><td></td></tr>
								<tr>
									<td align="center" class="tab_third_1 peach1">
										@Localizer["ReceiptForThePeriod"]
									</td>
								</tr>
								<tr>
									<td align="center" class="tab_third_2 peach2">
										@FceiptForThePeriod
									</td>
								</tr>
								<tr class="int_horizontal"><td></td></tr>
								<tr>
									<td align="center" class="tab_third_1 broccoli1">
										@Localizer["BalanceAtTheEndOfThePeriod"]
									</td>
								</tr>
								<tr>
									<td align="center" class="tab_third_2 broccoli2">
										@BalanceAtTheEndOfThePeriod
									</td>
								</tr>
							</thead>
						</table>
					</td>
				</tr>
				<tr class="int_horizontal"><td></td></tr>
				<tr class="int_horizontal"><td></td></tr>
				<tr> 
					<td class="gen_td" colspan="6" style="width: 100%; min-width: 500px; padding: 15px 30px 30px 30px;">
						<table style="width: 100%;" class="tab_pie">
							<thead>
								<tr>
									<td align="center" colspan="2" style="font-size: 16px; font-weight: bold; color: #343A40;">
										@Localizer["DynamicsOfIncomeAndExpenses"]
									</td>
								</tr>
								<tr>
									<td align="left" style="padding: 0px 0px 20px 30px;">
										<button class="btn _circle" @onclick="ClickBack"><i class="fa fa-angle-double-left"></i></button>
										<button class="btn _circle" @onclick="ClickForward"><i class="fa fa-angle-double-right"></i></button>
									</td>
									<td align="right" style="padding-bottom: 20px; font-size: 14px; font-weight: bold;">
										<a href="" @onclick="ClickedMonth" @onclick:preventDefault style=@ClickedMonthStyle>@Localizer["Month"]</a>
										|
										<a href="" @onclick="ClickedWeek" @onclick:preventDefault style=@ClickedWeekStyle>@Localizer["Week"]</a>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div id="chartContainer3" style="height: 400px; width: 100%;"></div>
									</td>
								</tr>
							</thead>
						</table>
					</td> 
				</tr>
				<tr class="int_horizontal"><td></td></tr>
				<tr class="int_horizontal"><td></td></tr>
			</thead>
		</table> 
	</div>
</div> 