@page "/" 
@inject IStringLocalizer<App> Localizer

@inherits IndexBase 
@using AnalysisDashboard.Components
 
<LanguageView/> 

<div class="big_container"> 
    <LoadingView Loading="ShowLoading"/> 
    <div class="logo_container">
        <div class="logo_text">
            <img src="images/logo.png" width="100">
        </div>
        <div class="logo_text">
            <h2>Analysis Dashboard</h2>
        </div>
    </div> 
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="container _dropdown">
            <div class="form-group">
            <p class="text1">
                @Localizer["DropFileTitle1"]
            </p>
            <div class="dropzone-wrapper">
                <div class="dropzone-desc">
                <img src="images/excel2.png" width="90" height="90">
                <p class="text2"> @Localizer["DropFileTitle2"]</p>
                <p class="text3"> @Localizer["DropFileTitle3"]</p>
                <input type="button" class="btn btn-choise" value="@Localizer["SelectFile"]">
                </div>  
                <InputFile type="file" name="img_logo" class="dropzone" accept=".xlsx" multiple="false" OnChange="@FileUploadOnChange"/> 
            </div> 
            @*<div class="line_or">
                <span>или</span>
            </div> 
            <input type="url" class="input _url" placeholder="Введите ссылку на файл"> 
            <div class="preview-zone hidden">
                <div class="box">
                <div class="box-body"></div>
                </div>
            </div>*@
            </div> 
            @*<div>
                <button type="submit" class="btn btn-upload">Загрузить</button>
            </div> *@
        </div>
    </form> 
</div> 